@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
/* variables and functions */
/* reset */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* GLOBAL DECLARATION */
body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: #9194a1;
}

body .container {
  padding: 4em 1em;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: #9194a1;
}

body input, body .newsletter button, .newsletter body button,
body button {
  border: none;
}

body h1,
body h2 {
  width: 80%;
  margin: 0 auto;
  color: #252b46;
  margin-bottom: 20px;
}

@media screen and (min-width: 800px) {
  body h1,
  body h2 {
    width: 100%;
  }
}

body p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 1.5em;
}

@media screen and (min-width: 800px) {
  body p {
    width: 100%;
  }
}

body section {
  padding: 4em 1em;
}

@media screen and (min-width: 800px) {
  body section {
    padding: 4em 4em;
  }
}

body .center {
  text-align: center;
}

body .btn-primary {
  background-color: #5368df;
  padding: 18px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  body .btn-primary {
    padding: 10px;
    font-size: 13px;
  }
}

body .btn-secondary {
  background-color: #5368df;
  padding: 18px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  color: #9194a1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px;
}

@media screen and (min-width: 800px) {
  body .btn-secondary {
    padding: 10px;
    font-size: 13px;
  }
}

body .hide {
  display: none;
}

@media screen and (min-width: 800px) {
  body section > h2 + p {
    width: 530px;
  }
}

/* mobile nav bar */
nav.open {
  width: 100%;
  padding: 1em;
  position: absolute;
  height: 100vh;
  background-color: rgba(37, 43, 70, 0.9);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

nav.open .menu-items, nav.open .login {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
}

nav.open a {
  color: #fff;
}

nav.open .login {
  margin-top: 20px;
  padding: 15px 0px;
  border: 2px solid #fff;
  border-radius: 4px;
}

nav.open .menu-items_item {
  padding: 15px;
  border-top: 1px solid #fff;
}

nav.open .menu-items_item:nth-child(3) {
  border-bottom: 1px solid #fff;
}

nav {
  width: 100%;
  padding: 1em;
  font-size: 16px;
}

@media screen and (min-width: 800px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2em 4em;
  }
  nav .wrap-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav li {
    margin-right: 30px;
  }
  nav li a {
    color: #252b46;
    text-transform: uppercase;
    font-weight: 500;
  }
  nav .login {
    background-color: #fa5757;
    padding: 10px 30px;
    border-radius: 3px;
  }
  nav .login a {
    color: #fff;
  }
}

nav .menu-btn {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 100;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  nav .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .wrap-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* hero section */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.hero .description, .hero h1 {
  width: 80%;
  margin: 0 auto;
}

.hero h1 {
  margin-bottom: 20px;
}

.hero .call-to-action {
  margin-top: 50px;
  font-size: 16px;
}

.hero .call-to-action a {
  margin-right: 20px;
}

@media screen and (min-width: 800px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero_image,
  .hero .hero_content {
    width: 100%;
    text-align: left;
    margin-right: 30px;
  }
  .hero .shape {
    display: block;
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #5368df;
    z-index: -20;
    top: 15em;
    right: 0;
    border-radius: 100px 0 0 100px;
  }
  .hero .description, .hero h1 {
    width: 100%;
  }
  .hero img {
    width: 100%;
  }
}

/* images on mobile */
section img {
  width: 80%;
}

/* features */
.features .tab {
  margin: 10px;
  border-top: 1px solid #9194a1;
  padding: 10px;
  cursor: pointer;
}

.features .tab:nth-child(3) {
  border-bottom: 1px solid #9194a1;
}

.features .illustration {
  margin-bottom: 20px;
  margin-top: 20px;
}

.features .description > p, .features .hero h1 > p, .hero .features h1 > p {
  margin-bottom: 20px;
}

@media screen and (min-width: 800px) {
  .features .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-bottom: 50px;
  }
  .features .tab {
    border: none;
    margin: 0;
    padding: 10px 20px;
    border-bottom: solid 1px #9194a1;
  }
  .features .tab:nth-child(3) {
    border-bottom: solid 1px #9194a1;
  }
  .features .active,
  .features .tab:hover {
    border-bottom: 2px solid #fa5757 !important;
    -webkit-transition: all 0.5 ease-in-out;
    transition: all 0.5 ease-in-out;
  }
  .features .tab_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .features .illustration,
  .features .description,
  .features .hero h1,
  .hero .features h1 {
    width: 43%;
    text-align: left;
    margin-right: 30px;
  }
  .features img {
    width: 100%;
  }
  .features .hide {
    display: none;
  }
  .features .shape {
    display: block;
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #5368df;
    z-index: -20;
    top: 48em;
    left: 0;
    border-radius: 0 100px 100px 0;
  }
}

@media screen and (min-width: 800px) and (min-width: 1000px) {
  .features .shape {
    top: 61em;
  }
}

/* blurps */
.blurps .image {
  margin: 20px;
}

.blurps .image img {
  width: 90px;
}

.blurps .blurp {
  width: 300px;
  margin: 0 auto;
  margin-top: 4em;
  padding-top: 1.5em;
  padding-bottom: 3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  border-radius: 10px;
  background-image: url(../images/bg-dots.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 14.7em;
}

.blurps .version {
  margin-bottom: 60px;
}

@media screen and (min-width: 800px) {
  .blurps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blurps .blurp {
    width: 270px;
    margin: 10px;
  }
  .blurps .blurp:nth-child(2) {
    margin-top: 60px;
  }
  .blurps .blurp:nth-child(3) {
    margin-top: calc(60px * 2);
  }
  .blurps .blurp img {
    width: 50%;
  }
  .blurps h2 {
    font-size: 18px;
  }
}

/* faq */
.faq .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  cursor: pointer;
}

.faq .question span {
  color: #252b46;
  font-weight: 500;
}

.faq .question.open img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.faq .tab {
  border-bottom: 1px solid #9194a1;
}

.faq .answer {
  text-align: left;
}

.faq a {
  display: inline-block;
  margin-top: 3em;
}

@media screen and (min-width: 800px) {
  .faq .tab {
    width: 600px;
    margin: 0 auto;
  }
}

/* newsletter */
.newsletter {
  background-color: #5368df;
}

.newsletter h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  letter-spacing: 4px;
  font-weight: 400;
}

.newsletter p {
  color: #fff;
  font-weight: 500;
  font-size: 2em;
}

.newsletter input, .newsletter button {
  padding: 16px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.newsletter button {
  background-color: #5368df;
  padding: 18px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fa5757;
  display: block;
  margin-top: 55px;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .newsletter button {
    padding: 10px;
    font-size: 13px;
  }
}

.newsletter form {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.newsletter .error-icon {
  position: absolute;
  right: 0;
  top: 13px;
  margin-right: 5px;
}

.newsletter .error-msg {
  border-radius: 5px;
  background-color: #fa5757;
  text-align: left;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  position: absolute;
  width: 100%;
  top: 3.4em;
}

.newsletter img {
  width: 20px;
}

@media screen and (min-width: 800px) {
  .newsletter form {
    width: 600px;
    margin: 0 auto;
  }
  .newsletter .form-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsletter .flex {
    width: 300px;
    position: relative;
    top: 0;
    margin-top: 0px;
  }
  .newsletter .submit {
    width: 200px;
    padding: 16px;
  }
  .newsletter .error-icon {
    width: 40px;
    position: absolute;
    top: 13px;
    left: 16em;
  }
  .newsletter .error-msg {
    position: absolute;
    top: 3.4em;
    left: 26px;
  }
}

/* footer */
footer {
  background-color: #252b46;
}

footer .logo {
  margin-bottom: 20px;
}

footer .link {
  margin: 20px;
}

footer .link a {
  color: #fff;
}

footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-links li {
  margin: 10px;
}

@media screen and (min-width: 800px) {
  footer nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .social-links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .logo {
    margin: 0;
    fill: #fff;
  }
}

/* hover */
@media screen and (min-width: 800px) {
  nav a:hover, .question span:hover {
    color: #fa5757;
  }
  .btn-primary:hover, .btn-secondary:hover, .login:hover, .submit:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: transparent;
    color: #5368df;
    border: 2px solid #5368df;
  }
  .btn-secondary:hover {
    color: #252b46;
    border-color: #252b46;
  }
  .login:hover, .submit:hover {
    color: #fa5757 !important;
    border-color: #fa5757;
  }
  .submit:hover {
    background-color: #fff;
  }
}
