@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* variables and functions */
$primary: hsl(231, 69%, 60%);
$secondary: hsl(0, 94%, 66%);
$textColor: hsl(229, 8%, 60%);
$titleColor: hsl(229, 31%, 21%);
$gap: 30px;
$subtitleWidth: 530px;
$borderColor: #fff;
$lineHeight: 1.5em;
$fontSize: 18px;
$elementMargin: 20px;
$font: "Rubik", sans-serif;
$fontWeight: (
  "regular": 400,
  "bold": 500,
);
